@font-face {
    font-family: 'robotoregular';
    src: url('./assets/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    background: #010101 !important;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
.main-container{
    background-color: black;
}
.header{
    font-size: 12px;
}
.header a{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 4px;
}

.header ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.header ul li{
    display: inline-block;
    margin-right: 6px;
    padding:5px;
}
.header ul li:hover{
    background: white;
    color: #010101;
    border-radius: 4px;
}
.header .logo{
    font-size: 18px;
}
.header .logo:hover{
    font-size: 18px;
    background: inherit;
    color: inherit;
}
.headline{
    padding-top: 30px;
    font-size: 50px;
    font-weight: 900;
    font-stretch: semi-expanded;
}
.desc{
    margin-top: 20px;
}
.line{
    border: 1px solid #222;
    margin-top: 30px;
}
.tech-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tech-icon{
    font-size: 50px;
}
.tech-card{
    width: 130px;
    padding: 10px 20px;
    font-size: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}