body {
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 17% 57% 26%;
    height: 100vh;
}
.sidebar{
 background: #4c52bc;
}
.content{
    background: #ffffff;
    padding: 32px 88px 0px 70px;
    border-right: 2px Solid rgb(246, 247, 250);
}
.sidebar-icon{
 margin: 36px 0 0 51px;
 color: #ffffff;
 font-size: 24px;
}
.list{
    color: rgb(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-top: 65px;
}
.list-items{
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
.list-items li{
    padding: 14px 0px 14px 40px;
    cursor: pointer;
}
.list-items li:hover{
    background: linear-gradient(90deg, rgb(255, 255, 255, 8%) 0%, rgb(76, 82, 188, 8%) 100%);
    color: rgb(255, 255, 255, 1);
}

.selected{
    background: linear-gradient(90deg, rgb(255, 255, 255, 8%) 0%, rgb(76, 82, 188, 8%) 100%);
    color: rgb(255, 255, 255, 1);
}
.search-input{
    border-radius: 0px;
    border: 0px;
    display: flex;
    align-items: center;   
    border-radius: 24px;
    width: 340px;
    background: rgb(202, 206, 231,14%);
}
.search-icon{
    color: #8b9790;
    margin-left: 20px;
    cursor: pointer;
}
.search-box{
    background: rgb(255, 255, 255);
    color: rgb(111, 124, 142);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 10px;
}
.search-input input:focus{
    border: none;
    outline: none !important;
    background: rgb(202, 206, 231, 0%);
}
.search-input input{
    border: none;
    outline: none !important;
    background: rgb(202, 206, 231, 0%);
}
.project-container{
    margin-top: 60px;
}
.project-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px Solid #f6f7fa;
}
.header-text{
    color: rgb(14, 27, 66);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.header-link{
    color: rgb(129, 134, 173);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.2px;
    cursor: pointer;
}
.arrow-icon{
    font-size: 16px;
}
.project-content{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
.project-card{
    width: 202px;
    background: rgb(247, 248, 251);
    border-radius: 12px;
    margin-right: 10px;
    padding: 20px;
}
.card-header-1{
    display: flex;
    justify-content: space-between;
}
.icon-folder{
    height: 32px;
    width: 32px;
}
.user-thumbnail{
    height: 20px;
    width: 20px;
    border-radius: 12px;
    background: orange;
}
.user-icons img:not(:first-child){
    margin-left: -8px;
}
.card-header-2{
    margin-top:12px;
    color: rgb(14, 27, 66);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.card-header-3{
    margin-top:4px;
    color: rgb(129, 134, 173);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.17px;
}
.card-progress{
    margin-top:12px;
}
.progress-bar{
    width: 100%;
    background: #dde2ef;
    height: 5px;
    border-radius: 2.5px;
}
.progress-count{
    color: rgb(76, 82, 188);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.14px;
    margin-bottom: 4px;
}
.progress{
    background: #4c52bc;
    height: 5px;
    border-radius: 2.5px;
}
.progress-70{
    width: 70%;
}
.progress-90{
    width: 90%;
}
.progress-count-70{
    padding-left: 70%;
}
.progress-count-90{
    padding-left: 90%;
}
.project-card-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 225px;
    border: 2px solid rgb(228, 232, 246);
    border-style: dashed;
    border-radius: 12px;
}
.icon-add{
    width: 40px;
    height: 40px;
    background: rgb(247, 248, 251);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color:#4c52bc;
}
.card-text{
    color: rgb(19, 32, 70);
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-top: 10px;
}
.table-container{
    margin-top: 50px;
}
.table-grid{
    margin-top:20px;
    
}
.table-col{
    padding: 20px;
    display: flex;
    align-items: center;
}
tr:hover{
    background: rgb(244, 245, 250);
    border-radius: 10px;
}
tr:hover .col-4-text{
    visibility: visible;
}

table{
    width: 100%;
}


.folder-icon-2{
    height: 24px;
    width: 30px;
}
.col-1-text{
    margin-left: 16px;
    color: rgb(14, 27, 66);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.col-2-text{
    color: rgb(129, 134, 173);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 16px;
}
.col-3-text{
    color: rgb(129, 134, 173);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 16px;
}
.col-4-text{
    color: rgb(129, 134, 173);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 16px;
    visibility: hidden;
}
.top-header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 32px 70px 0 0;
    color: #b1b4ce;
}
.profile-img{
    width: 34px;
    height: 34px;
}
.user-name{
    color: rgb(14, 27, 66);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 20px;
    margin: 0 12px 0 8px;
}
.login-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.notification-icon{
    margin-right: 32px;
}
.fs-10{
    font-size: 10px;
}
.fs-16{
    font-size: 16px;
}
.dot{
    color: #f98e73;
    position: relative;
    bottom: 10px;
    right: 5px;
}
.sidebar-content{
    padding: 0px 74px 0 32px;
    margin-top: 65px;
}
.activity-header{
    color: rgb(14, 27, 66);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    border-bottom: 2px Solid #f6f7fa;
    padding-bottom: 4px;
}
.bullet{
    min-width: 20px;
    min-height: 20px;
    background: rgb(76, 82, 188, 0.06);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.bullet-fill{
    min-width: 6px;
    min-height: 6px;
    background: rgb(76, 82, 188, 30%);
    border-radius: 50%;
}

.bullet-2{
    min-width: 20px;
    min-height: 20px;
    background: rgb(248, 217, 175, 24%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.bullet-2-fill{
    min-width: 6px;
    min-height: 6px;
    background: rgb(248, 217, 175);
    border-radius: 50%;
}
.timeline-container{
    padding-top: 31px;
}
.timeline-item-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:12px;
    padding-bottom: 30px;
    padding-right: 12px;
    flex-grow: 1;
}
.timeline-item{
    display: flex;
}
.timeline-line{
    display: flex;
    flex-direction: column;
}
.line{
    flex-grow: 1;
    width: 2px;
    background: #f6f7fa;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
.timeline-text{
    color: rgb(14, 27, 66);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.ic-timeline-1{
    width: 40px;
    height: 40px;
}
.ic-timeline-2{
    width: 40px;
    height: 40px;
    margin-left: 4px; 
}
.timeline-icons{
    margin-top: 12px; 
}
.icon-container{
    background: #f7f8fb;
    padding: 5px 8px;
    border-radius: 5px;
}
.timeline-time{
    color: rgb(129, 134, 173);
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    letter-spacing: 0px;
    line-height: 16px;
}
.display-none{
    display: none;
}

i{
    cursor: pointer;
}
img{
    cursor: pointer;
}
.ref-img{
    width: 100%;
    height: 150px;
}
.referral{
    border: 2px solid #f6f7fa;
    border-radius: 8px;
    padding: 20px;
    margin-top: 48px;
}
.ref-h1{
    color: rgb(14, 27, 66);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.ref-h2{
    color: rgb(129, 134, 173);
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 10px;
}
.ic-close{
    float: right;
    color: #8186ad;
}
.bottom-border{
    width: 400px;
}